
.add-monument-icon {
	height: 40px;
	width: 40px;
	display: inline-block;
}

html, body {
	margin: 0;
	background: #072530;
	overflow-y: auto;
	overflow-x: auto;
    font-family:sans-serif;
	color: white;
}

.back {
    position: fixed;
    font-size: large;
}



.screenshot {
	width: 800px;
	height: 600px;
}